## 1 no question ans

A database is a structured collection of data that is organized, stored, and managed in a way that allows efficient retrieval and manipulation of information. Databases are used to store and manage vast amounts of data in a systematic and scalable manner, making them a crucial component of many software applications and systems.

There are two main types of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases. Let's differentiate between the two:

SQL Databases:
SQL databases are traditional relational databases that follow the principles of the relational model. They use SQL, a standardized language for managing and querying data, to interact with the database. Here are some key characteristics of SQL databases:
Data Schema: SQL databases have a fixed schema, meaning the structure of the data is defined in advance, and all data entries must conform to this predefined schema.

Tables: Data in SQL databases is organized into tables with rows and columns. Each row represents a record, and each column represents a field or attribute.

ACID Transactions: SQL databases generally support ACID (Atomicity, Consistency, Isolation, Durability) transactions, which ensure data integrity and consistency even in the face of failures.

Data Integrity and Constraints: SQL databases enforce data integrity through constraints like primary keys, foreign keys, unique constraints, etc.

Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

SQL databases are well-suited for applications that require complex querying, strict data consistency, and a well-defined schema, such as financial systems, enterprise applications, and applications dealing with structured data.

NoSQL Databases:
NoSQL databases emerged as an alternative to SQL databases, particularly to handle the limitations posed by the fixed schema of relational databases. NoSQL databases use various data models and storage mechanisms, and they don't solely rely on SQL for data manipulation. Here are some key characteristics of NoSQL databases:
Schema Flexibility: NoSQL databases are schema-agnostic, meaning they allow dynamic and flexible data models. Each record in the database can have a different structure, enabling easier adaptation to changing data requirements.

Document, Key-Value, Column-family, or Graph Models: NoSQL databases come in different types based on the data model they use. Common types include document stores (like MongoDB), key-value stores (like Redis), column-family stores (like Cassandra), and graph databases (like Neo4j).

Horizontal Scalability: Many NoSQL databases are designed to scale horizontally, allowing them to distribute data across multiple servers to handle large amounts of data and high traffic loads.

BASE Transactions: NoSQL databases typically follow the BASE (Basically Available, Soft state, Eventually consistent) model, which prioritizes availability and partition tolerance over strict consistency.

Examples: MongoDB, Redis, Cassandra, Couchbase, Neo4j.

## 2 no question ans

DDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of a database, such as creating, modifying, or deleting database objects like tables, indexes, and constraints.

CREATE: It is used to create new database objects, such as tables, indexes, or views. For example, to create a table named "students" with columns for name and age, you would use the CREATE TABLE statement.

DROP: It is used to remove existing database objects. For example, to delete the "students" table, you would use the DROP TABLE statement.

ALTER: It is used to modify the structure of existing database objects. For example, to add a new column "email" to the "students" table, you would use the ALTER TABLE statement.

TRUNCATE: It is used to remove all data from a table, but the table structure remains intact. It is faster than DELETE when you want to delete all records from a table. For example, to remove all records from the "students" table, you would use the TRUNCATE TABLE statement.

## 3 no question ans

DML stands for Data Manipulation Language. It is used to manage data within a database, such as inserting, updating, and deleting records in database tables.

INSERT: It is used to add new records to a table. For example, to add a new student with name "John" and age 25 to the "students" table, you would use the INSERT INTO statement.

UPDATE: It is used to modify existing records in a table. For example, to update the age of the student with name "John" to 26, you would use the UPDATE statement.

DELETE: It is used to remove records from a table. For example, to delete the student with name "John" from the "students" table, you would use the DELETE FROM statement.

## 4 no question ans

DQL stands for Data Query Language. It is used to retrieve data from the database.

SELECT: It is used to query and retrieve data from one or more tables. For example, to retrieve all records from the "students" table, you would use the SELECT statement.
Example:

SELECT * FROM students;

This query will return all the records (rows) from the "students" table, including all columns (*).

## 5 no question ans

Primary Key: A primary key is a unique identifier for each record (row) in a table. It ensures that each row can be uniquely identified and prevents duplicate records. In most cases, the primary key is used to index the table for faster data retrieval and to enforce data integrity.
Example:

CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
In this example, the "student_id" column is the primary key, and it will have a unique value for each student.


Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, enforcing referential integrity and ensuring that the data in the foreign key column(s) corresponds to existing data in the referenced table.
Example:

CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    instructor_id INT,
    FOREIGN KEY (instructor_id) REFERENCES instructors (instructor_id)
);

In this example, the "instructor_id" column in the "courses" table is a foreign key that references the primary key "instructor_id" in the "instructors" table. This establishes a relationship between the two tables, ensuring that the instructor_id in the "courses" table points to a valid instructor_id in the "instructors" table.

## 6 no question ans

To connect MySQL to Python, we need to use a MySQL connector library. One popular library is "mysql-connector-python." Before running the code, make sure we have installed the library using "pip install mysql-connector-python.

In [ ]:
import mysql.connector

host = "localhost"
user = "your_username"
password = "your_password"
database = "your_database_name"

connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = connection.cursor()
create_table_query = """
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
"""

cursor.execute(create_table_query)
connection.commit()
cursor.close()
connection.close()

1. cursor(): The cursor() method creates a cursor object that allows you to interact with the MySQL database. The cursor acts as a pointer to navigate and execute SQL queries.

2. execute(): The execute() method is used to execute SQL queries using the cursor object. It takes the SQL query as a parameter and runs it on the connected database. In the example above, we use the execute() method to create a new table named "students" in the database.

## 7 no question ans

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: Specifies the table or tables from which the data will be retrieved.

2. JOIN: Joins are used to combine rows from two or more tables based on a related column between them.

3. WHERE: Filters the rows based on a specified condition.

4. GROUP BY: Groups the result set into summary rows based on specified columns.

5. HAVING: Filters the grouped rows based on a specified condition.

6. SELECT: Selects the columns to retrieve from the result set.

7. DISTINCT: Removes duplicate rows from the result set.

8. ORDER BY: Sorts the result set based on specified columns.

9. LIMIT / OFFSET: Limits the number of rows returned or skips a certain number of rows.